<%- include('../partials/header'); -%>

    <section id="MainSection">
        <div class="row">
            <div class="col">
                <h1>Ingrese Producto</h1>
                <hr>
                <form class="mt-4" id="AddProductForm">
                    <div class="mb-3">
                        <label for="title" class="form-label fw-bold">Nombre</label>
                        <input type="text" class="form-control" name="title" id="ProductTitle" />
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label fw-bold">Precio</label>
                        <input type="number" class="form-control" name="price" id="ProductPrice">
                    </div>
                    <div class="mb-3">
                        <label for="thumbnail" class="form-label fw-bold">Foto URL</label>
                        <input type="text" class="form-control" name="thumbnail" id="ProductThumbnail" />
                    </div>
                    <button type="submit" class="btn btn-success">Enviar</button>
                </form>
                <br>
                <!-- <a href="/productos" class="btn btn-primary">Ver Listado Productos</a> -->
            </div>
        </div>

        <br>

        <div>
            <h1>Productos disponibles</h1>
            <hr>
            <div id="TableProductsIndex"></div>
        </div>

        <br>

        <div>
            <h1>Centro de mensajes</h1>
            <hr>
            <%- include('../components/message-form'); -%>
            <div id="ChatMessages" class="mt-3"></div>
        </div>


    </section>


    <%- include('../partials/footer'); -%>