<% if (messages) { messages.map( val => {

  %>
  <div class="card">
    <div class="card-body">
      
      <p>
        <span class="user"><%= val.email %>  </span>
        <span class="datetime">[<%= val.createdAt %>]: </span>
        <span class="messaje"><%= val.message %></span>
      </p>
      
      
    </div>
  </div>


  <% })} %>
